@media(min-width: 992px) {
    .nav {
        &__input {
            input {
                display: flex;
            }
        }
    }

    .main {
        &__stories {
            width: 75%;
        }

        &__create-post {
            width: 75%;
        }

        &__create-room {
            width: 75%;
        }

        &__contacts {
            display: flex;
        }

        &__contacts-mobile {
            display: none;
        }

        &__posts {
            width: 75%;
        }
    }
}