@media (min-width: 768px) {
    html {
        font-size: 62.5%;
    }

    .nav {
        &__input {
            padding: 0.5em;
        }

        &__link {
            display: flex;
            flex: 0 1 10%;
        }

        &__right {
            display: flex;
        }

        &__avatar {
            display: flex;
        }

        &__dropdown {

            .menu-icons {
                padding: 0.5em;
            }
        }
    }

    .main {
        display: flex;

        .wall {
            align-items: center;
        }

        &__stories {
            width: 90%;
            overflow-x: visible;
        }

        &__storie {
            flex: 0 1 auto;

            span:last-child {
                display: block;
            }
        }

        &__create-post {
            width: 90%;

            .underline {
                display: block;
            }
        }

        &__create-post-tools {
            display: flex;
        }

        &__create-room {
            width: 90%;
            overflow-x: hidden;

            .arrow-outside {
                display: block;
            }
        }

        &__posts {
            width: 90%;
        }
    }
}