@media(min-width: 1400px) {
    .main {
        &__stories {
            width: 55%;
        }

        &__create-post {
            width: 55%;
        }

        &__create-room {
            width: 55%;
        }

        &__posts {
            width: 55%;
        }
    }
}