* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #f2f3f5;
}

/****navigation styles starts*****/
.nav {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    background-color: #fff;
    position: sticky;
    z-index: 100;
    top: 0;
    box-shadow: 0 5px 8px -9px rgba(0, 0, 0, .75);

    &__left {
        display: flex;
        align-items: center;
        flex: 1;

        img {
            height: 40px;
            margin: 8px 9px 8px 16px;
            cursor: pointer;
        }
    }

    &__input {
        display: flex;
        align-items: center;
        background-color: #ecedf1;
        padding: 8px;
        border-radius: 25px;

        span {
            font-size: 22px;
        }

        input {
            background: transparent;
            border: none;
            padding-left: 8px;
            font-size: 15px;

            &:focus {
                outline: none;
            }
        }
    }

    &__middle {
        display: flex;
        justify-content: center;
        flex: 4;
    }

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0 1 10%;
        margin: 0 5px;
        cursor: pointer;

        span {
            font-size: 30px;
            color: #65676b;
        }
    }

    .nonactive {
        margin: 3px 5px;

        &:hover {
            background-color: #eff2f5;
            border-radius: 8px;
            align-items: center;
        }
    }

    .active {
        border-bottom: 3px solid #1b74e4;

        span {
            color: #1b74e4;
        }
    }

    &__right {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 16px;
        flex: 1;
    }

    &__avatar {
        display: flex;
        align-items: center;
        padding: 3px 10px;
        cursor: pointer;

        &:hover {
            background-color: #eff2f5;
            border-radius: 18px;
            align-items: center;
        }

        h4 {
            margin: 0 3px;
        }

        img {
            height: 32px;
            border-radius: 50%;
        }
    }

    &__dropdown {
        display: flex;
        align-items: center;
        padding-left: 8px;

        .menu-icons {
            padding: 10px;
            margin: 3px;
            background-color: #e4e6eb;
            font-size: 20px;
            font-weight: bold;
            border-radius: 50%;
            cursor: pointer;
            transition: background-color .1s;

            &:hover {
                background-color: #d1d2d6;
            }
        }

        .fa-facebook-messenger {
            &::after {
                content: '2';
                position: absolute;
                width: 12px;
                height: 12px;
                padding: 3px;
                top: 3px;
                border-radius: 50%;
                background-color: #e41e3f;
                font-size: 13px;
                font-weight: bold;
                color: #fff;
                text-align: center;
            }
        }
    }
}

/****navigation styles ends*****/

/****sidebar styles starts*****/
.main {
    display: flex;

    &__sidebar {
        display: flex;
        flex-direction: column;
        margin: 15px 10px;
        flex: 1;
    }

    &__siderow {
        display: flex;
        align-items: center;
        padding: 5px 5px;
        border-radius: 8px;
        cursor: pointer;
        transition: background-color .2s;

        &:hover {
            background-color: #e4e6eb;
        }

        img {
            height: 45px;
            border-radius: 50%;
        }

        span {
            font-size: 35px;
            padding-left: 5px;
        }

        .friends {
            color: #1b85f5;
        }

        .saved {
            color: #a137c6;
        }

        .groups {
            color: #22a9fc;
        }

        .marketplace,
        .watch,
        .memories {
            color: #186dd4;
        }

        .pages {
            color: #ea582a;
        }

        .see-more {
            padding: 10px;
            margin: 3px;
            background-color: #d1d2d6;
            font-size: 20px;
            border-radius: 50%;
            font-weight: bold;
        }

        h4 {
            padding: 12px 10px;
            font-size: 15px;
        }

        .name {
            padding-left: 5px;
        }
    }

    .underline {
        height: 1px;
        margin-top: 8px;
        margin-left: 5px;
        background-color: #d1d2d6;
    }

    /****sidebar styles ends*****/

    .wall {
        display: flex;
        justify-content: center;
        flex: 4;
    }

    /****stories styles starts*****/

    &__stories {
        position: relative;
        display: flex;
        padding: 8px 0 24px;
        margin-top: 20px;
    }

    &__storie {
        position: relative;
        margin: 0 4px;
        width: 110px;
        height: 190px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 180%;
        border-radius: 8px;
        cursor: pointer;
        color: #fff;
        box-shadow: 0 5px 8px -9px rgba(0, 0, 0, .75);
        transition: background-size .3s;

        &:hover {
            background-size: 185%;
        }

        span:last-child {
            position: absolute;
            padding: 10px;
            right: -20px;
            top: 50%;
            transform: translateY(-50%);
            border-radius: 50%;
            background-color: #fff;
            color: #65676b;
            box-shadow: 0 5px 8px -9px rgba(0, 0, 0, .75);
        }

        .box-shadow {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0);
            border-radius: 8px;
            transition: background-color .2s;

            &:hover {
                background-color: rgba(0, 0, 0, .2);
            }
        }

        img {
            position: absolute;
            height: 40px;
            margin: 10px;
            border: 4px solid #1b74e4;
            border-radius: 50%;
        }

        h5 {
            position: absolute;
            text-align: center;
            width: 100%;
            bottom: 0;
            padding: 10px 3px;
        }

        &--add {
            background-color: #fff;
            background-image: url('../img/stories_profile.jpg');
            color: #000;

            span {
                position: absolute;
                left: 50%;
                top: 64%;
                font-size: 40px;
                transform: translateX(-50%);
                color: #1b74e4;
                background-color: #fff;
                border-radius: 50%;
                z-index: 10;
            }

            h5 {
                padding: 15px 0;
                background-color: #fff;
                border-bottom-left-radius: 8px;
                border-bottom-right-radius: 8px;
            }
        }

        &--one {
            background-image: url('../img/stories_airplan.jpg');
        }

        &--two {
            background-image: url('../img/stories_car.jpg');
        }

        &--three {
            background-image: url('../img/stories_island.jpg');
        }

        &--four {
            background-image: url('../img/stories_switzerland.jpg');
        }

        &--five {
            background-image: url('../img/stories_tokyo.jpg');
        }
    }

    /****stories styles ends*****/

    /****posts styles starts****/

    /****contacts styles starts*****/
    &__contacts {
        display: flex;
        flex-direction: column;
        margin: 20px 10px;
        font-size: 15px;
        flex: 1;

        &--header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 5px;
            color: #65676b;

            span {
                border-radius: 50%;
                padding: 5px;
                cursor: pointer;

                &:hover {
                    background-color: #e4e6eb;
                }
            }
        }

        &--item {
            display: flex;
            align-items: center;
            padding: 10px 5px;
            border-radius: 8px;
            cursor: pointer;
            transition: background-color .2s;

            &:hover {
                background-color: #e4e6eb;
            }

            img {
                height: 35px;
                border-radius: 50%;
                margin-right: 10px;
            }
        }
    }
}